body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#main-components {
    display: flex;
    align-items: flex-start;
}

#display-shape {
    margin: 10px;
}

#audio-analyzer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* use display: none to hide the analyzer */
    /* display: none; */
}

#canvas {
    text-align: center;
    border: white 1px solid;
    height: 1100px;
    width: 1800px;
}

.outer-container {
    width: 500px;
    height: 100vh;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

.inner-container {
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}

.minor-component-container {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.reactive {
    transform-origin: center;
}

.shape-spawner {
    border: 1px solid black;
}

.canvas-shape {
    position: absolute;
    box-shadow: inset 0 0 35px 5px rgba(0,0,0,0.25), inset 0 2px 1px 1px rgba(255,255,255,0.9), inset 0 -2px 1px rgba(0,0,0,0.25);
}

.effect-toggler-container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid white;
    width: 300px;
}

.effect-container {
    padding: 10px;
    padding-bottom: 30px;
}

.general-effect-toggler-button {
    transform: rotate(90deg);
    width: 60px;
    height: 30px;
    /* border: 2px solid white; */
}

.specific-effect-toggler-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 80px;
}

.specific-effect-toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.specific-effect-toggler-button {
    width: 10px;
    height: 10px;
}


/* SHAPES */

.square-sm {
    width: 25px;
    height: 25px;
    background: white;
}

.square-md {
    width: 50px;
    height: 50px;
    background: white;
}

.square-lg {
    width: 100px;
    height: 100px;
    background: white;
}

.rectangle-hor-sm {
    width: 50px;
    height: 25px;
    background: white;
}

.rectangle-hor-md {
    width: 100px;
    height: 50px;
    background: white;
}

.rectangle-hor-lg {
    width: 150px;
    height: 75px;
    background: white;
}

.rectangle-ver-sm {
    width: 25px;
    height: 50px;
    background: white;
}

.rectangle-ver-md {
    width: 50px;
    height: 100px;
    background: white;
}

.rectangle-ver-lg {
    width: 75px;
    height: 150px;
    background: white;
}

.circle-sm {
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
}

.circle-md {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
}

.circle-lg {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
}

.ellipse-hor-sm {
    width: 60px;
    height: 45px;
    background: white;
    border-radius: 50%;
}

.ellipse-hor-md {
    width: 100px;
    height: 75px;
    background: white;
    border-radius: 50%;
}

.ellipse-hor-lg {
    width: 140px;
    height: 105px;
    background: white;
    border-radius: 50%;
}

.ellipse-ver-sm {
    width: 45px;
    height: 60px;
    background: white;
    border-radius: 50%;
}

.ellipse-ver-md {
    width: 75px;
    height: 100px;
    background: white;
    border-radius: 50%;
}

.ellipse-ver-lg {
    width: 105px;
    height: 140px;
    background: white;
    border-radius: 50%;
}

.arch-hor-sm {
    width: 45px;
    height: 60px;
    background: white;
    border-radius: 50% / 100% 100% 0% 0%;
}

.arch-hor-md {
    width: 75px;
    height: 100px;
    background: white;
    border-radius: 50% / 100% 100% 0% 0%;
}

.arch-hor-lg {
    width: 105px;
    height: 140px;
    background: white;
    border-radius: 50% / 100% 100% 0% 0%;
}

.arch-ver-sm {
    width: 60px;
    height: 45px;
    background: white;
    border-radius: 50% / 100% 100% 0% 0%;
}

.arch-ver-md {
    width: 100px;
    height: 70px;
    background: white;
    border-radius: 50% / 100% 100% 0% 0%;
}

.arch-ver-lg {
    width: 140px;
    height: 105px;
    background: white;
    border-radius: 50% / 100% 100% 0% 0%;
}

.eye-sm {
    width: 25px;
    height: 25px;
    background: white;
    rotate: 45deg;
    border-radius: 80% 0;
}

.eye-md {
    width: 50px;
    height: 50px;
    background: white;
    rotate: 45deg;
    border-radius: 80% 0;
}

.eye-lg {
    width: 100px;
    height: 100px;
    background: white;
    rotate: 45deg;
    border-radius: 80% 0;
}

.tear-sm {
    width: 25px;
    height: 25px;
    background: white;
    rotate: 45deg;
    border-radius: 0 50% 50% 50%;
}

.tear-md {
    width: 50px;
    height: 50px;
    background: white;
    rotate: 45deg;
    border-radius: 0 50% 50% 50%;
}

.tear-lg {
    width: 100px;
    height: 100px;
    background: white;
    rotate: 45deg;
    border-radius: 0 50% 50% 50%;
}

.heart-sm {
    width: 25px;
    height: 25px;
    background: white;
    rotate: 45deg;
    position: relative;
}

.heart-md {
    width: 50px;
    height: 50px;
    background: white;
    rotate: 45deg;
    position: relative;
}

.heart-lg {
    width: 100px;
    height: 100px;
    background: white;
    rotate: 45deg;
    position: relative;
}

.heart::before,
.heart::after {
    content: '';
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: inherit;
    translate: -50% 0;
}

.heart::after {
    translate: 0 -50%;
}

.triangle-sm {
    width: 25px;
    height: 25px;
    background: white;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.triangle-md {
    width: 50px;
    height: 50px;
    background: white;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.triangle-lg {
    width: 100px;
    height: 100px;
    background: white;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.spark-sm {
    width: 25px;
    height: 25px;
    background: white;
    clip-path: polygon(
        40% 40%,
        50% 0,
        60% 40%,
        100% 50%,
        60% 60%,
        50% 100%,
        40% 60%,
        0 50%
    );
}

.spark-md {
    width: 50px;
    height: 50px;
    background: white;
    clip-path: polygon(
        40% 40%,
        50% 0,
        60% 40%,
        100% 50%,
        60% 60%,
        50% 100%,
        40% 60%,
        0 50%
    );
}

.spark-lg {
    width: 100px;
    height: 100px;
    background: white;
    clip-path: polygon(
        40% 40%,
        50% 0,
        60% 40%,
        100% 50%,
        60% 60%,
        50% 100%,
        40% 60%,
        0 50%
    );
}

/* END SHAPES */