/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-components {
    display: flex;
    justify-content: center;
    align-items: center;
}

#display-shape {
    margin-top: 50px;
}

#audio-analyzer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* use display: none to hide the analyzer */
    /* display: none; */
}

#canvas {
    border: white 1px solid;
    height: 1080px;
    width: 1920px;
    display: flex;
}

.square {
    width: 100px;
    height: 100px;
    background: white;
}

.rectangle {
    width: 200px;
    height: 100px;
    background: white;
}

.circle {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
}

.oval {
    width: 200px;
    height: 100px;
    background: white;
    border-radius: 100px / 50px;
}
